.app-heading {
  margin-bottom: 1rem;
}
.input-box {
  text-align: center;
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.input {
  background-color: #ebebeb;
  border: 1px solid #ebebeb;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
}

.btn {
  margin-left: 1rem;
  border: 1px solid #849fff;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
  background: #849fff;
  border-radius: 4px;
}

.output-box {
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 5px;
  height: 25rem;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.todo-item-box {
  display: flex;
  font-size: 1rem;
  background-color: #849fff;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 5px;
}
.todo-item {
  margin-right: auto;
  margin-left: 1rem;
}

.strike {
  text-decoration: line-through;
}
.crossBtn {
  margin-right: 0.8rem;
}
